[submodule "themes/photon"]
	path = themes/photon
[submodule "plugins/photon"]
	path = plugins/photon
[submodule "plugins/home"]
	path = plugins/home
[submodule "plugins/highlight"]
	path = plugins/highlight
[submodule "blueprints"]
	path = blueprints
